table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  font-weight: normal;
  text-align: left;
  border-width: thin;
    border-style: solid;
    border-color: black;
}
th, caption {
  background-color: #f1f3f4;
  font-weight: 700;
}
td.fetterRahmen{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.spalte1{
    background-color: lightgray;
}
ul#navigation {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
	}

	ul#navigation li {
		padding: 0px;
		margin: 0px;
		display: inline;
	}

	ul#navigation li a:link {
		border: 1px solid #476e9e;
		background-color: #7892c2;
		padding: 2px 5px 2px 5px;
		font-size: 12px;
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		font-weight: bold;
	}

	ul#navigation li a:hover {
		border: 1px solid #476e9e;
		background-color: #476e9e;
		padding: 2px 5px 2px 5px;
		color: #fff;
	}
    a:visited {
    color: #fff;
    }
