table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  font-weight: normal;
  text-align: left;
  border-width: thin;
    border-style: solid;
    border-color: black;
}
th, caption {
  background-color: #f1f3f4;
  font-weight: 700;
}
td.fetterRahmen{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.spalte1{
    background-color: lightgray;
}
.myButton {
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

