table, th, td, caption {
  border: 1px solid #a0a0a0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
}
th, td {
  font-weight: normal;
  text-align: left;
}
th, caption {
  background-color: #f1f3f4;
  font-weight: 700;
}
 <html>
<head>
    <style type="text/css">
    <!--
    ul#navigation {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    ul#navigation li {
        padding: 0px;
        margin: 0px;
        display: inline;
    }

    ul#navigation li a:link {
        border: 1px solid #000;
        background-color: #CCCCCC;
        padding: 2px 5px 2px 5px;
        font-size: 12px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: bold;
    }

    ul#navigation li a:hover {
        border: 1px solid #000;
        background-color: #333333;
        padding: 2px 5px 2px 5px;
        color: #fff;
    }
    -->
    </style>
</head>
<body>
    <ul id="navigation">
        <li><a href="index.html">Startseite</a></li>
        <li><a href="Hauptteil.html">Block</a></li>
        <li><a href="Regeln und Hinweise.html">Regeln und Hinweise</a></li>
    </ul>
</body>
</html>
